.nav {
  background-color: var(--color1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
}

.nav a {
  text-decoration: none;
}

.logo a {
  color: black;
  letter-spacing: 5px;

  display: flex;
  align-items: center;
}

.logo a svg {
  /* border: 1px solid green; */
  /* background-color: red; */
  width: 35px;
}

.nav ul {
  background-color: var(--color2);
  list-style: none;
  display: flex;
  height: 100%;
}

.nav ul a {
  color: white;
  height: 100%;
  padding: 0px 10px;
  padding-top: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 4px solid transparent;

  transition: background-color 0.3s;
}

.nav ul a:hover {
  background-color: var(--color3);
}



.active {
  background-color: var(--color-c2) !important;
  color: white;
  border-bottom: 4px solid var(--color3) !important;
}



@media screen and (max-width: 460px) {
  .nav {
    flex-direction: column;
    padding-top: 5px;
    gap: 5px;
    height: auto;
  }
}
