.formContainer {
  border: 1px solid var(--color1);
  width: 1300px;
  max-width: 99vw;
  background-color: var(--color-c2);
  padding: 20px;
  border-radius: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
}

.formContainer h2 {
  margin-bottom: 5px;
  color: var(--color1);
}

.form {
  /* border: 1px solid red; */
  /* width: 100%; */

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form input {
  padding: 7px 15px;
  /* width: 100%; */
  font-size: 24px;
  border-radius: 5px;
  border: none;
  outline: none;

  caret-color: var(--color1);
  caret-shape: block;
}

.form button {
  padding: 4px 10px;
  height: 100%;
  font-size: 24px;
  border-radius: 5px;
  border: none;
}

.updateBtn {
  background-color: var(--color1);
  color: black;
}
.cancelBtn {
  background-color: gainsboro;
  color: black;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.outlineRed {
  outline: 1px solid red !important;
}
