*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root{
  --color-c1: rgb(18, 18, 18);
  --color-c2: rgb(36,35,35); 
  --color-c3: rgb(80, 78, 78);
}

.blueMode{
  --color1: rgb(95, 158, 160); 
  --color2: rgb(56, 96, 97); 
  --color3: rgb(129, 239, 243); 
  --color4: rgba(129, 239, 243, 0.2); 
}

.greenMode {
  --color1: rgb(4, 170, 107); 
  --color2: rgb(2, 97, 61); 
  --color3: rgb(46, 231, 160); 
  --color4: rgba(46, 231, 160, 0.2); 
}

.pinkMode {
  --color1: rgb(255, 116, 139); 
  --color2: rgb(173, 85, 100); 
  --color3: rgb(255, 192, 203); 
  --color4: rgba(255, 192, 203, 0.2); 
}

html{
  /* color-scheme: dark; */
  background-color: var(--color-c1);
  color: white;
  scroll-behavior: smooth;
  /* user-select: none; */
}



/* Width and color of the scrollbar */
::-webkit-scrollbar {
  width: 5px; 
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: var(--color-c1); 
  border-radius: 20px;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: var(--color2); 
  border-radius: 20px;
  /* border: 3px solid #444;  */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color3); 
}

/* Buttons (arrows at the top and bottom of scrollbar) */
::-webkit-scrollbar-button {
  /* background: #333; */
  display: none; 
}

/* Corner (where vertical and horizontal scrollbars meet) */
::-webkit-scrollbar-corner {
  background: #111;
  /* background: var(--color1);  */
}



input[type="text"] {
  background-color: var(--color-c1);
  color: white;
}

input[type="text"]::placeholder {
  color: var(--color-c2);
  color: gray;
}


button{
  transition: transform 0.3s;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

